<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src = '/js/jquery.min.js'></script>
    <script src = '/js/module.js'></script>
    <script src = '/js/hotkeys.js'></script>
    <script src = '/js/simditor.js'></script>
    <link href="/css/simditor.css" rel="stylesheet">
    <link href="/css/addPost.css" rel="stylesheet"></head>
<body>
    <div id='app'></div>
    <script type="text/javascript" src="/js/vendor.js"></script>
<script type="text/javascript" src="/js/addPost.js"></script></body>
</html>
